{% extends "base.html" %}
 {% load static %}

 {% block page_header %}
 <div class="container header-container">
     <div class="row">
         <div class="col"></div>
     </div>
 </div>
 {% endblock %}

 {% block content %}
 <div class="container h-100 ">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto shadow-lg mb-5 pb-5">
            <h2 class="logo-font display-4 text-white">
                Welcome to World of Games
            </h2>
            <p class="logo-font text-white h5">Find the next Game you want to play, or search for some old classics! Just here on World of Games</p>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Game now!</a>
                </h4>
            </div>
        </div>
    </div>
</div>
 {% endblock %}