{% extends "base.html" %}
{% load static %}
 
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
 
{% block content %}
<div class="container px-4 px-lg-5 py-5">

    <!-- Header-->
    <header class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <h1 class="display-6 text-center" id="faq-title">Frequently Asked Questions</h1>
            <hr aria-hidden="true">
        </div>
    </header>

    <!-- FAQ Section -->
    <section class="row" aria-label="FAQ Section">
        <div class="col-12 col-md-10 offset-md-1 mb-5 pb-5">
            {% if faqs %}
                <div class="accordion" id="accordionExample">
                    {% for faq in faqs %}
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ faq.id }}" aria-expanded="false" aria-controls="collapseTwo">
                    {{ faq.question }}
                  </button>
                </h2>
              </div>
              <div id="collapse{{ faq.id }}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    {{ faq.answer|safe }}
                </div>
              </div>
            </div>
            {% endfor %}
                </div>
            {% else %}
                <p class="text-center">No FAQs available at this time.</p>
            {% endif %}
        </div>
    </section>
{% endblock %}
 
{% block postloadjs %}
{{ block.super }}
 
{% endblock %}